---


import Layout from "../layouts/Layout.astro";
---


<Layout>

  <nav>
    
    <a class="p-5 " href="/species/Adelie" target="species-frame">Adelie</a>
    <a class="p-5 " href="/species/Gentoo" target="species-frame">Gentoo</a>
    <a class="p-5 " href="/species/Chinstrap" target="species-frame">Chinstrap</a>
  </nav>

  
  
  <iframe
    src="/species/Adelie"
    name="species-frame"
    width="100%"
    onload="resizeIframe(this)">
  </iframe>

  <!-- Script de redimensionnement -->
  <script>
    function resizeIframe(iframe) {
      const newHeight = iframe.contentWindow.document.body.scrollHeight;
      iframe.style.height = newHeight + "px";
    }
  </script>







</Layout>